.wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 800px) {
  
    .wrapper {
      max-width: 100%;
    }
    
    header {
      width: 100%;
    }

    nav, section {
      float: left;
    }
  
   #footer {
      position: fixed;
      width: 100%;
      bottom: 0;
    } 

    nav {
      width: 18%;
      overflow-y:scroll;
    }
  
    section {
      width: 75%;
    }
    
  }

  @media screen and (min-width: 1000px) {
  
    .wrapper {
      max-width: 100%;
    }
    
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    color: rgb(8, 8, 8);
    font-family: Helvetica;
    text-align: center;
    margin: 0;
    font-size: 14px;
  }
  
  header {
    background-color: #173D5C;
    color: white;
    padding: 5px 0;
    font-size: 16px;
  }

  footer {
    background-color: #173D5C;
    color: white;
    height: 20px;
    width: 100%;
  }
  
  nav {
    padding: 0;
    height: 41em;
  }

  .tblText {
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    padding-right: 20px;
  }

  .selected {
      vertical-align: top;
      margin-top: 0px;
  }

  table {
    width: 50%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
   }

   p {
    padding: 10px 10px 10px; 
    text-align:justify; 
    background: #ECECEC;
   }

   .scroll-box {
    overflow-y: scroll;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
  }


  span:hover{
    opacity: 0.8;
  }

  #label {
    font-size: 14px;
    min-width: 20em;
    margin-bottom: 1em;
    text-align: left;
    white-space: nowrap;
  }

  #labelx {
    min-width: 9em; 
    font-size: 14px;
    margin-bottom: 1em;
    text-align: left;
  }

  #btnContinue {
    font-size: 14px;
    min-width: 9em;

  }

  #btnC {
    font-size: 14px;
    min-width: 9em;
  }

  .task {
    text-align: left;
  }

  .progress-bar {
    font-size: 1em;
  }
  
.svg-container { 
	position: relative;
	vertical-align: middle; 
	overflow: hidden; 
	border: 0.8px solid black; 
}
		
.svg-containerx { 
	position: relative;
	border: 0.8px solid black;
	vertical-align: middle; 
	overflow: hidden;   
}

.svg-content { 
	display: inline-block;
	top: 0;
	left: 0;
}

.btn-group-horizontal {
	margin-top: 1em;
}

.tooltip {
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
	width: 14%;
}

html {
overflow-y: scroll !important;
}

.countyPath {
  stroke-dasharray: 50;
  stroke-dashoffset: 1000;
  animation: stroke 50s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}


.map-container {
  position: relative;
}

.btn-zoom-in {
  position: absolute;
  left: 18px;
  top: 10px;
  width: 40px;
  font-weight: bold;
  background: white;
}

.btn-zoom-out {
  position: absolute;
  left: 18px;
  top: 48px;
  width: 40px;
  font-weight: bold;
  background: white;
}

.row-county {
  display: inline-block;
  font-size: 1.05rem;
  margin: 5px 10px;
  vertical-align: middle;
}

.intro-header {
  font-weight: bold;
}


/* CARD */
.card {
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.card-body {
  padding: 0;
  padding-bottom: 0;
}

.card-header {
  font-weight: bold;
  text-align: left;
}

.card-text p {
  text-align: left;
  padding: 0;
  background: #fff;
}

.card-scrolldown, .card-scrollup {
  margin: 0;
  padding: 0;
  background: transparent;
  color: #777;
  font-size:0.85rem;
  font-weight: normal;
  cursor: pointer;
}

.card-scrolldown:hover, .card-scrollup:hover {
  color: #222;
}

.card-scrollup {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.card-scrolldown .fa-arrow-down,
.card-scrollup .fa-arrow-up {
  border: 1px solid #555;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  margin-left: 5px;
}